<header role="banner" class="fr-header">
	<div class="fr-header__body">
		<div class="fr-container">
			<div class="fr-header__body-row">
				<div class="fr-header__brand fr-enlarge-link">
					<div class="fr-header__brand-top">
						<div class="fr-header__logo">
							<p class="fr-logo">
								Intitulé
								<br>officiel
							</p>
						</div>
						<div class="fr-header__navbar">
							<button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-517" aria-haspopup="menu" id="button-518" title="Menu">
								Menu
							</button>
						</div>
					</div>
					<div class="fr-header__service">
						<a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
							<p class="fr-header__service-title">
								Nom du site / service
							</p>
						</a>
						<p class="fr-header__service-tagline">baseline - précisions sur l‘organisation</p>
					</div>
				</div>
				<div class="fr-header__tools">
					<div class="fr-header__tools-links">
						<ul class="fr-btns-group">
							<li>
								<a class="fr-btn fr-icon-add-circle-line" href="[url - à modifier]">
									Créer un espace
								</a>
							</li>
							<li>
								<a class="fr-btn fr-icon-lock-line" href="[url - à modifier]">
									Se connecter
								</a>
							</li>
							<li>
								<a class="fr-btn fr-icon-account-line" href="[url - à modifier]">
									S’enregistrer
								</a>
							</li>
						</ul>
						<nav role="navigation" class="fr-translate fr-nav">
							<div class="fr-nav__item">
								<button class="fr-translate__btn fr-btn fr-btn--tertiary" aria-controls="translate-516" aria-expanded="false" title="Sélectionner une langue">
									FR<span class="fr-hidden-lg">&nbsp;- Français</span>
								</button>
								<div class="fr-collapse fr-translate__menu fr-menu" id="translate-516">
									<ul class="fr-menu__list">
										<li>
											<a class="fr-translate__language fr-nav__link" hreflang="fr" lang="fr" href="#" aria-current="true">FR - Français</a>
										</li>
										<li>
											<a class="fr-translate__language fr-nav__link" hreflang="en" lang="en" href="#">EN - English</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fr-header__menu fr-modal" id="modal-517" aria-labelledby="button-518">
		<div class="fr-container">
			<button class="fr-btn--close fr-btn" aria-controls="modal-517" title="Fermer">
				Fermer
			</button>
			<div class="fr-header__menu-links"></div>
		</div>
	</div>
</header>
